main{
  margin: auto;
  width: 100vw;
}
header, section {
  width: 1334px;
  margin: 0 auto;
}


.container-wrapper{
  align-items: center; 
  display: flex;
}

.scroll-container {
  display: flex;
  margin: 0 auto;
  overflow: auto;
  scroll-behavior: smooth;
  text-align: center;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}

.scroll-page {
  align-items: center;
  display: flex;
  font-size: 5rem;
  justify-content: center;
}

.breadcrumbs{
  margin: 48px 0 10px 0;
}
h2{
margin: 20px 0 20px 0;
font-size: 2.57142857rem;
line-height: 1.33333333;
font-weight: 500;
margin-bottom: 48px;
}

.cards {
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}

.cards:last-child {
  margin-right: 0;
}

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 1.5rem;
  min-width: 300px;
  margin-right: 50px;
}

.food-pic {
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}


nav {
  align-items: center;
  display:flex;
  padding: 40px 0px;
}

nav > input {
  flex: 0 0 360px;
  height: 32px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
}

#cart {
  margin: 0 10px 0 auto;
}

#login {
  margin: 0 0 0 10px;
}

#cuisine {
  margin: 10px 0 10px 0;
}

#search {
  background-color:#f7f7f7;
  border-radius: 40px;
  border: none;
  height: 40px;
  margin: 10px 0 10px 0;
  padding: 10px;
  width: 100%;
}

#divider {
  margin: 10px 0 10px 0;
  height: 8px;
  
}

/* FOR DELETION
* > div {
  border: 1px solid black;
}
*/
